body {
    font-family: sans-serif;
    font-size: small;
}
aside {
    margin-bottom: 2em;
}
main {
    margin-bottom: 2em;
}

footer p {
    margin-bottom: 0.2em;
}

.fade-in {
    /* 透明な状態からスタート */
    opacity: 0; 
    /* animation-delay: 1s; を追加 */
    animation: fadeIn 1.5s ease-out 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0px); /* 下から上に浮き上がる演出 */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}